
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Restaurant Review</h1>

    <div id="content"></div>

    <script src="~/lib/React/react.js"></script>
    <script src="~/lib/React/react-dom.js"></script>

    <script src="~/Scripts/Lab9.jsx"></script>
</body>
</html>
