@{
    ViewBag.Title = "Restaurant Review";
    Layout = "~/Views/Shared/_AlgCommonLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lab 10</title>
</head>
<body>
    <div id="content"></div>
    @section JavaScripts {
        <script src="~/Scripts/Address.jsx"></script>
        <script src="~/Scripts/RestaurantReview.jsx"></script>
        <script src="~/Scripts/Reviews.jsx"></script>
        <script src="~/Scripts/Lab10.jsx"></script>
    }
</body>
</html>

