<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRestaurantService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64490/RestaurantReviewService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurantService"
        contract="RestaurantReviewService.IRestaurantService" name="BasicHttpBinding_IRestaurantService" />
    </client>
  </system.serviceModel>
</configuration>